.venv/
.idea/
__pycache__/
**/*.log
images*/
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
**/*.webp
**/*.mp4
**/*.webm
**/*.mp3
**/*.wav
**/*.ogg
**/*.m4a
**/*.flac
**/*.aac
**/*.wma
train/
output/

